<%- include('../layout/adminHeader.ejs') %> 



<style>
  .form-box {
    width: 1550px;
    margin-top: 30px;
  }

</style>
<title>Add Product</title>
<aside>
  <a href="/admin/products" style="color: rgb(45, 81, 172); position: absolute; left: 50px; top: 80px; font-size: 15px; font-weight: bold; " class="btn"> <-Back</a>
</aside>
<main>
  <div class="container form-box mt-5">
    <h1 class=" rounded" style="font-size: 30px; width: 230px; text-align: center; font-family: Arial, Helvetica, sans-serif;">Add Product</h1>

  <div class="row d-flex justify-content-end">
    
    <div class="col-md-10 col-lg-12 col-xl-12">

      <form id="ProductForm" action="/admin/products/add" method="POST" enctype="multipart/form-data" >

          <div class="row">
            <% if (messages.error) { %>
              <div class="alert alert-danger" role="alert">
                <%= messages.error %>
              </div>
            <% } else if(messages.success){%>
              <div class="alert alert-success" role="alert">
                <%= messages.success %>
              </div>
            <%}%>
            
            <div class="col-md-4">
            
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" />
                <div id="nameWarning" class="text-danger"></div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="price">Price</label>
                <input
                  type="text"
                  class="form-control"
                  id="price"
                  name="price"
                />
                <div id="priceWarning" class="text-danger"></div>
              </div>
            </div>

            
            <div class="col-md-2">
              <div class="form-group">
                <label for="category">Category</label>
                <select
                  class="select form-control"
                  id="category"
                  name="category"
                >
                  <option value="">Select</option>
                  <% category.forEach(categoryes => { %>
                  <option value="<%= categoryes.category %>">
                    <%= categoryes.category %>
                  </option>
                  <% }); %>
                </select>
                <div id="categoryWarning" class="text-danger"></div>
              </div>
            </div>


            <div class="col-md-2">
              <div class="form-group">
                <label for="subCategory">Sub Category</label>
                <select class="select form-control" id="subCategory" name="subCategory">
                  <option value="">Select</option>
                  <% var subCategories = category.flatMap(cat => cat.sub_Category) %>
                  <% subCategories.forEach(subCategory => { %>
                    <option value="<%= subCategory%>">
                      <%= subCategory %>
                    </option>
                  <% }); %>
                </select>
                
                <div id="subCategoryWarning" class="text-danger"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="brand">Brand</label>
                <select  class="select form-control" id="brand" name="brand"  >
                <%brands.forEach(brands=>{%>
                    <option value="<%=brands.name  %>" ><%=brands.name  %></option>

                <%}) %>
                </select>

                
                  <!-- Add more options here -->
               
                <div id="brandWarning" class="text-danger"></div>
              </div>
            </div>
          </div>

         

          <div class="row">
            

            

           
            <div class="col-md-2">
              <div class="form-group">
                <label for="discount">Discount</label>
                <input
                  min="0" oninput="if(this.value < 0) this.value = 0; this.value = Math.abs(this.value)"
                  type="number"
                  class="form-control"
                  id="discount"
                  name="discount"
                />
                <div id="discountWarning" class="text-danger"></div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="status">Status</label>
                <select class="select form-control" id="status" name="status">
                  <option value="">Select</option>
                  <option value="true">true</option>
                  <option value="false">false</option>
                </select>
                <div id="statusWarning" class="text-danger"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="stockQuantity">Stock Quantity</label>
                <input
                min="0" oninput="if(this.value < 0) this.value = 0; this.value = Math.abs(this.value)"
                  type="number"
                  class="form-control"
                  id="stockQuantity"
                  name="stock"
                />
                <div id="stockWarning" class="text-danger"></div>
              </div>
            </div>
            

            <div class="col-md-6">
              <div class="form-group">
                <button id="toggleColorsBtn" onclick="toggleColors()" class="btn btn-outline-primary mt-4 mb-2" type="button">Select Colors</button>

                <div class="checkbox mt-2 color-container" style="display: none;">
                  <input type="checkbox" id="red" name="colors[]" value="Red">
                  <label for="red">Red</label>
                
                  <input type="checkbox" id="blue" name="colors[]" value="Blue">
                  <label for="blue">Blue</label>
                
                  <input type="checkbox" id="black" name="colors[]" value="Black">
                  <label for="black">Black</label>
                
                  <input type="checkbox" id="green" name="colors[]" value="Green">
                  <label for="green">Green</label>
                
                  <input type="checkbox" id="yellow" name="colors[]" value="Yellow">
                  <label for="yellow">Yellow</label>
                
                  <input type="checkbox" id="purple" name="colors[]" value="Purple">
                  <label for="purple">Purple</label>
                
                  <input type="checkbox" id="orange" name="colors[]" value="Orange">
                  <label for="orange">Orange</label>
                
                  <input type="checkbox" id="pink" name="colors[]" value="Pink">
                  <label for="pink">Pink</label>
                
                  <!-- Additional Fancy Colors for Tech Products -->
                  <input type="checkbox" id="silver" name="colors[]" value="Silver">
                  <label for="silver">Silver</label>
                
                  <input type="checkbox" id="space-gray" name="colors[]" value="Space Gray">
                  <label for="space-gray">Space Gray</label>
                
                  <input type="checkbox" id="midnight-black" name="colors[]" value="Midnight Black">
                  <label for="midnight-black">Midnight Black</label>
                
                  <input type="checkbox" id="electric-blue" name="colors[]" value="Electric Blue">
                  <label for="electric-blue">Electric Blue</label>
                
                  <input type="checkbox" id="cosmic-purple" name="colors[]" value="Cosmic Purple">
                  <label for="cosmic-purple">Cosmic Purple</label>
                
                  <!-- Additional 20 Colors -->
                  <input type="checkbox" id="lunar-silver" name="colors[]" value="Lunar Silver">
                  <label for="lunar-silver">Lunar Silver</label>
                
                  <input type="checkbox" id="nebula-gray" name="colors[]" value="Nebula Gray">
                  <label for="nebula-gray">Nebula Gray</label>
                
                  <input type="checkbox" id="stellar-blue" name="colors[]" value="Stellar Blue">
                  <label for="stellar-blue">Stellar Blue</label>
                
                  <input type="checkbox" id="galactic-green" name="colors[]" value="Galactic Green">
                  <label for="galactic-green">Galactic Green</label>
                
                  <input type="checkbox" id="cosmic-black" name="colors[]" value="Cosmic Black">
                  <label for="cosmic-black">Cosmic Black</label>
                
                  <input type="checkbox" id="atomic-orange" name="colors[]" value="Atomic Orange">
                  <label for="atomic-orange">Atomic Orange</label>
                
                  <input type="checkbox" id="stellar-silver" name="colors[]" value="Stellar Silver">
                  <label for="stellar-silver">Stellar Silver</label>
                
                  <input type="checkbox" id="supernova-yellow" name="colors[]" value="Supernova Yellow">
                  <label for="supernova-yellow">Supernova Yellow</label>
                
                  <input type="checkbox" id="meteorite-black" name="colors[]" value="Meteorite Black">
                  <label for="meteorite-black">Meteorite Black</label>
                
                  <input type="checkbox" id="plasma-purple" name="colors[]" value="Plasma Purple">
                  <label for="plasma-purple">Plasma Purple</label>
                
                  <!-- Add more fancy colors as needed -->
                
                </div>
                <div id="colorWarning" class="text-danger"></div>
                
              </div>
            </div>
          </div>

          <div class="row">
            

            <div class="col-md-6">
              <div class="form-group">
                <label for="description" >Description</label>
                <textarea
                  class="form-control "
                  id="description"
                  name="description"
                ></textarea>
                <div id="descriptionWarning" class="text-danger"></div>
              </div>
            </div>

            <div class="col-md-6">
              <label for="images1">Images</label>
              <div
                class="form-group "
                style="
                  display: flex;
                  justify-content: space-between;
                "
              >
                <input type="file" id="images1" class="form-control images1" name="images1" accept="image/*" multiple />

               
              </div>
              <div id="images1Warning" class="text-danger"></div>


              <label for="images2">Varient Images</label>
              <div
                class="form-group "
                style="
                  display: flex;
                  justify-content: space-between;
                "
              >
                <input type="file" id="images2" class="form-control images2" name="images2" accept="image/*" multiple />

               
              </div>
              <div id="images2Warning" class="text-danger"></div>

            </div>


            
          </div>

          <div class="row">
            
            <div class="col-md-6">
              <div class="form-group">
               <input type="submit"  placeholder="Add Product" class="btn btn-success w-100"  onclick="return validateForm()">
              </div>
            </div>
        
          </div>
        
        </form>
    </div>
  </div>
</div>
</main>


<script src="/js/productFormVaildation.js"></script>
<script>
 const toogle = document.addEventListener('DOMContentLoaded', function (e) {
    // Get the button and color container

    const toggleColorsBtn = document.getElementById('toggleColorsBtn');
    const colorContainer = document.querySelector('.color-container');

    // Add click event listener to the button
    toggleColorsBtn.addEventListener('click', function () {
      // Toggle the display property of the color container
      colorContainer.style.display = colorContainer.style.display === 'none' ? 'block' : 'none';
    });
  });



</script>

<%- include('../layout/adminFooter.ejs') %>
