<%- include('../layout/adminHeader.ejs') %> <%-
include('../layout/adminSideBar.ejs') %>
<link rel="stylesheet" href="/css/dataTable.css">
<style>
  .table tbody tr:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: 0.2s;
  }

  .description-column {
    max-width: 200px;
    /* Adjust the maximum width as needed */
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

</style>
<title>Brands</title>
<main>
  <div class="container-fluid mt-4">
    <div class="row d-flex justify-content-end">
      <div class="col-md-10 col-lg-10">
        <div class="d-flex justify-content-between">
          <h1
            class=" rounded"
            style="
              font-size: 30px;
              width: 230px;
              text-align: center;
              font-family: Arial, Helvetica, sans-serif;
            "
          >
            Brand List
          </h1>
          <button
            class="btn btn-success mb-2"
            data-toggle="modal"
            data-target="#addBrandModal"
          >
            Add Brand
          </button>
        </div>

        <div
          class="overflow-auto p-3 bg-light"
          style="max-width: 1500px; max-height: 550px"
        >
          <table class="table" id="myTable">
            <thead class="text-center">
              <tr>
                <th>Brand</th>
                <th>Logo</th>
                <th>Status</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="brand-table" class="align-center">
                <% BrandData.forEach(function(Brand,i) { %>

              <tr class="text-center">
                <td> <%=Brand.name  %></td>
                
                </td>
                <td class="logo-column "><img width="60" height="60" class="img-thumbnail rounded border-0" src="/images/brandImages/<%=Brand.logo  %>" alt=""></td>

                <td class="status-column"><%=Brand.status  %></td>

                <td class="description-column"><%=Brand.description  %></td>


                <td>
                  <a
                    href="/admin/brand/edit/<%=Brand._id  %>"
                    class="bi bi-pencil-fill text-warning p-1"
                   
                    ></a
                  >
                  <a
                    href="javascript:void(0);"
                    onclick="confirmDelete(' <%=Brand._id%>  ','/admin/brand/delete/','You will not be able to recover this brand!')"
                    class="bi bi-trash3-fill text-danger p-1"
                    ></a
                  >
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Add Category Modal -->
    </div>
  </div>

  <div
    class="modal fade"
    id="addBrandModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addBrandModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addBrandModalLabel">Add Brand</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            method="POST"
            action="/admin/brand/add"
            onsubmit="return validateBrandForm()"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <label for="name">Brand Name</label>
             <input type="text" class="select form-control" id="name" name="name">
              <div id="nameWarning" class="text-danger"></div>
            </div>
           
            <div class="form-group">
              <label for="image">Image</label>
              <input type="file" class="form-control" id="image" name="image" />
              <div id="imageWarning" class="text-danger"></div>
            </div>


            <div class="form-group">
                <label for="status">Status</label>
                <select class="select form-control" id="status" name="status">
                    <option value="">Select</option>
                      <option value="true">true</option>
                      <option value="false">false</option>
                  </select>
                  <div id="statusWarning" class="text-danger"></div>

              </div>
           
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                class="form-control"
                id="description"
                name="description"
              ></textarea>
              <div id="descriptionWarning" class="text-danger"></div>
            </div>
            <button type="submit" class="btn btn-success">Add Brand</button>
          </form>
        </div>
      </div>
    </div>
  </div>








</main>
<script>
    function validateBrandForm() {
      var name = document.getElementById("name").value;
      var description = document.getElementById("description").value;
      var status = document.getElementById("status").value; // Corrected variable name
      var image = document.getElementById("image").value;
  
      // Reset all warnings
      document.getElementById("nameWarning").innerText = "";
      document.getElementById("descriptionWarning").innerText = "";
      document.getElementById("imageWarning").innerText = "";
      document.getElementById('statusWarning').innerHTML ="";
  
      // Validate name with no white spaces
      if (!name.trim()) {
        document.getElementById("nameWarning").innerText =
          "Name should not be empty.";
        return false;
      }
  
      if (!image.trim()) {
        document.getElementById("imageWarning").innerText =
          "Please select at least one image.";
      }
  
      if (!status.trim()) {
        document.getElementById("statusWarning").innerText =
          "Status should not be empty.";
        return false;
      }
  
      // Validate description with more than 10 words
      var wordCount = description.trim().split(/\s+/).length;
      if (wordCount < 10) {
        document.getElementById("descriptionWarning").innerText =
          "Description should contain at least 10 words.";
        return false;
      }
  
      // Form is valid
      return true;
    }
  </script>
  
<script src="/js/DataTable.js"></script>
<script src="/js/alertPopUp.js"></script>
<%- include('../layout/adminFooter.ejs') %>

