<%- include('../layout/adminHeader.ejs') %>
  <%- include('../layout/adminSideBar.ejs') %>

  <!-- Your existing HTML code -->
  
    <style>
      .table tbody tr:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: scale(1.0);
        transition: 0.2s;
      }

      .table-dark thead {
        background-color: #333;
        color: white;
      }

    </style>
<title>Customers</title>
<div id="content" class="p-4 p-md-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
          </li>
          <% if (locals.adminSessionData && locals.adminSessionData.isAdminAuthenticated) { %>
            <li><a class="dropdown-item" href=""></a></li>
            <% } else { %>
            <li><a class="dropdown-item" href="/register">Sign In</a></li>
            <% } %>
            <!-- <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li> -->
            <% if (locals.adminSessionData && locals.adminSessionData.isAdminAuthenticated) { %>
            <li><a class="dropdown-item text-danger" href="/admin/logout">Logout</a></li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>
<div class="container-fluid mt-4">
    <div class="row d-flex justify-content-end  ">
      <div class=" col-12 ">
        <h1 class=" rounded"
          style="font-size: 30px; width: 230px; text-align: center;  font-family:Arial, Helvetica, sans-serif;">Customer List</h1>
        <div class="table-responsive">







          <div class="overflow-auto p-3 bg-light" style="max-width: 1500px; max-height: 600px;">
                   

       <table class="table" id="myTable">
            <thead >
              <tr>
                <th> Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Image</th>
                <th>Status</th>
                <th style="text-align: center;">Actions</th>
              </tr>
            </thead>
            <tbody id="customer-table">
              <% customers.forEach(customer=> { %>
                <tr>
                  <td>
                    <%= customer.first_name +' '+ customer.last_name%></td>
          <td><%= customer.email %></td>
          <td><%= customer.mobile %></td>
          <td><img src="/images/userImages/<%=customer.image %>" class="border rounded-circle" alt="Customer Image" width="50"></td>
          <td style="font-weight:bold;">
            <span class="badge <%= customer.status ? 'badge-success' : 'badge-danger' %>">
              <%= customer.status ? 'Active' : 'Inactive' %>
            </span>
          </td>
                            <td style="text-align: center; ">
                    <a href="javascript:void(0);" 
   class="btn <%= customer.status.toString() === 'true' ? 'bi bi-ban text-danger' : 'bi bi-arrow-counterclockwise text-success' %>"
   onclick="confirmBlockUnblock('<%= customer._id %>', '<%= customer.status.toString() %>')">
   <%= customer.status.toString() === 'true' ? 'Block' : 'Unblock' %>
</a>

                 
                   
                   <a href="javascript:void(0);" class="bi bi-trash3-fill text-danger" onclick="confirmDelete('<%= customer._id %>','/admin/delete-user?id=','You will not be able to recover this user!')"></a>
                  </td>

                </tr>
                <% }); %>
            </tbody>
          </table>

                     

          </div>


         
        </div>
      </div>
    </div>
  </div>



 <script src="/js/alertPopUp.js"></script>
 <script src="/js/dataTable.js"></script>

    <%- include('../layout/adminFooter.ejs') %>

    
