<%- include('../layout/adminHeader.ejs') %>
  <%- include('../layout/adminSideBar.ejs') %>

    <style>
      .table tbody tr:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: scale(1.0);
        transition: 0.2s;
      }

      .table-dark thead {
        background-color: #333;
        color: white;
      }
    </style>


    <div class="container-fluid mt-4">
      <div class="row d-flex justify-content-end  ">
        <div class=" col-md-10 col-lg-10 ">
          <h1 class="text-bg-info  rounded"
            style="font-size: 30px; width: 230px; text-align: center;  font-family:Arial, Helvetica, sans-serif;">Customer List</h1>
          <div class="table-responsive">
            <table class="table  ">
              <thead class="table-dark">
                <tr>
                  <th> Name</th>
                  <th>Email</th>
                  <th>Mobile</th>
                  <th>Image</th>
                  <th>Status</th>
                  <th style="text-align: center;">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% customers.forEach(customer=> { %>
                  <tr>
                    <td>
                      <%= customer.first_name +' '+ customer.last_name%></td>
            <td><%= customer.email %></td>
            <td><%= customer.mobile %></td>
            <td><img src="<%= customer.image %>" alt="Customer Image" width="50"></td>
            <td style="font-weight:bold;"><%= customer.status %>
                    </td>
                    <td style="text-align: center; "><a href="/admin/block-unblock-user?id=<%=customer._id  %>"
                        class="btn btn-primary" style="background-color: rgb(37, 129, 195);" type="button">Block <strong>/</strong> UnBlock</a> <a
                        href="/admin/delete-user?id=<%=customer._id  %>" class="btn btn-danger" type="button">Delete</a>
                    </td>

                  </tr>
                  <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>




    <%- include('../layout/adminFooter.ejs') %>