<%- include('../layout/adminHeader.ejs') %>
<%- include('../layout/adminSideBar.ejs') %>
<title>Edit Coupons</title>
<div class="container mt-5">
  <div class="d-flex justify-content-between">  <h2>Edit Coupons</h2>
    <a href="/admin/coupon"><i class="bi bi-arrow-left fs-3"></i></a></div>  <form method="post" action="/admin/coupon/edit/<%=coupon._id  %>">
    <div class="mb-3">
      <label for="name" class="form-label">Code</label>
      <input type="text" class="form-control" id="code" name="code" value="<%=coupon.code  %>" required>
    </div>
    <div class="mb-3">
        <label for="startDate" class="form-label">Percentage</label>
        <input type="number" class="form-control" id="percentage" name="percentage" value="<%=coupon.discountPercentage  %>" required>
      </div>
    <div class="mb-3">
      <label for="startDate" class="form-label">End Date</label>
      <input type="date" class="form-control" id="endDate" name="endDate" value="<%=coupon.expiry.toISOString().split('T')[0]  %>" required>
    </div>
    <div class="mb-3">
      <label for="endDate" class="form-label">minAmount</label>
      <input type="number" class="form-control" id="minAmount" name="minAmount" value="<%=coupon.minOrderAmount  %>" required>
    </div>
      <div class="mb-3">
        <label for="status">Status</label>
        <select class="form-control" id="status" name="status" required>
          <option value="<%=coupon.isActive  %>"><%=coupon.isActive  %></option>
          <option value="false">false</option>
          <option value="true">true</option>
        </select>
        </div>
    <button type="submit" class="btn btn-primary">Update Coupon</button>
  </form>
</div>

<%- include('../layout/adminFooter.ejs') %>
