<%- include('../layout/adminHeader.ejs') %>

<style>
  .form-box {
    width: 1550px;
    margin-top: 30px;
  }
</style>
<title>Add Product</title>
<aside>
  <a
    href="/admin/products"
    style="
      color: rgb(45, 81, 172);
      position: absolute;
      left: 50px;
      top: 80px;
      font-size: 15px;
      font-weight: bold;
    "
    class="btn"
  >
    <-Back</a
  >
</aside>
<main>
  <div class="container form-box mt-5">
    <div class="row d-flex justify-content-end">
      <div class="col-md-10 col-lg-12 col-xl-12">
        <form
          id="ProductForm"
          action="/admin/products/edit/<%=ProductData._id  %>"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="row">
            <% if (messages.error) { %>
              <div class="alert alert-danger" role="alert">
                <%= messages.error %>
              </div>
            <% }%>
              
            
            <div class="col-md-4">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  value="<%=ProductData.name  %>"
                  class="form-control"
                  id="name"
                  name="name"
                />
                <div id="nameWarning" class="text-danger"></div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="price">Price</label>
                <input
                  type="text"
                  class="form-control"
                  id="price"
                  name="price"
                  value="<%=ProductData.price  %>"
                />
                <div id="priceWarning" class="text-danger"></div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="category">Category</label>
                <select
                  class="select form-control"
                  id="category"
                  name="category"
                >
                  <option value="<%= ProductData.category%>">
                    <%= ProductData.category %>
                  </option>
                </select>
                <div id="categoryWarning" class="text-danger"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                  <label for="subCategory">Sub Category</label>
                  <select class="select form-control" id="subCategory" name="subCategory">
                    <option value="<%=ProductData.sub_Category  %>"><%=ProductData.sub_Category  %></option>
                    <% var subCategories = categories.flatMap(cat => cat.sub_Category) %>
                    <% subCategories.forEach(subCategory => { %>
                      <option value="<%= subCategory %>">
                        <%= subCategory %>
                      </option>
                    <% }); %>
                  </select>
                  <div id="subCategoryWarning" class="text-danger"></div>
              </div>
          </div>
          

            <div class="col-md-2">
              <div class="form-group">
                <label for="brand">Brand</label>
                <select class="select form-control" id="brand" name="brand">
                  <option value="<%= ProductData.brand %>">
                    <%= ProductData.brand %>
                  </option>
                  <!-- Add more options here -->
                </select>
                <div id="brandWarning" class="text-danger"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="discount">Discount</label>
                <input
                  type="number"
                  class="form-control"
                  id="discount"
                  name="discount"
                  value="<%=ProductData.discount  %>"
                />
                <div id="discountWarning" class="text-danger"></div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label for="status">Status</label>
                <select class="select form-control" id="status" name="status">
                  <option value="<%=ProductData.status%>"><%=ProductData.status  %></option>
                  <option value="true">true</option>
                  <option value="false">false</option>
                </select>
                <div id="statusWarning" class="text-danger"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="stockQuantity">Stock Quantity</label>
                <input
                  type="number"
                  class="form-control"
                  id="stockQuantity"
                  name="stock"
                  value="<%=ProductData.stock  %>"
                />
                <div id="stockWarning" class="text-danger"></div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
               
                <label for="">Color</label>

                <div
                  class="checkbox mt-2 color-container"
                
                >
                <% ProductData.variants.color.forEach(color => { %>
                    <input
                    class="form-control"
                    style="width: 100px;"

                      type="text"
                      id="<%=color%>"
                      name="colors"
                      value="<%= color %>"
                     checked
                    />
                    <label for="<%= color%>"><%= color %></label>
                  <% }) %>
                  

                  <!-- Add more fancy colors as needed -->
                </div>
                <div id="colorWarning" class="text-danger"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  id="description"
                  name="description"
                >
 <%=ProductData.description %>"
            </textarea
                >
                <div id="descriptionWarning" class="text-danger"></div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="d-flex justify-content-start gap-2">
                <% ProductData.images.forEach((image,index) => { %>
                  <a href="/admin/products/edit-images/<%-ProductData._id%>/<%=image  %>/<%=index  %>"><i class="bi bi-trash-fill text-danger"></i></a>

                <img
                  width="80"
                  height="80"
                  src="/images/productImages/<%= image %>"
                  alt=""
                />
                <% }) %>
              </div>

              <label for="images1">Edit Images</label>
              <div
                class="form-group"
                style="display: flex; justify-content: space-between"
              >
                <input
                  type="file"
                  id="images1"
                  class="form-control images1"
                  name="images1"
                  accept="image/*"
                  multiple
                />
              </div>
              <%if(ProductData.images.length <= 0){%>
                <div id="images1Warning" class="text-danger"></div>
              <%}  %>

              <div class="d-flex justify-content-start gap-2">
                <% ProductData.variants.images.forEach((image,index) => { %>
                  <a href="/admin/products/edit-images/<%=ProductData._id%>/<%=image  %>/<%=index  %>"><i class="bi bi-trash-fill text-danger"></i></a>

                <img
                  width="80"
                  height="80"
                  src="/images/productImages/<%= image %>"
                  alt=""
                />
                <% }) %>
              </div>
              <label for="images2">Edit Varient Images</label>
              <div
                class="form-group"
                style="display: flex; justify-content: space-between"
              >
                <input
                  type="file"
                  id="images2"
                  class="form-control images2"
                  name="images2"
                  accept="image/*"
                  multiple
                />
              </div>
              <%if(ProductData.images.length <= 0){%>
                <div id="images2Warning" class="text-danger"></div>
              <%} %>  </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <input
                type="submit"
                placeholder="Add Product"
                class="btn btn-success w-100"
                onclick="return validateForm()"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<script src="/js/productFormVaildation.js"></script>
<script>
  const toogle = document.addEventListener("DOMContentLoaded", function (e) {
    // Get the button and color container

    const toggleColorsBtn = document.getElementById("toggleColorsBtn");
    const colorContainer = document.querySelector(".color-container");

    // Add click event listener to the button
    toggleColorsBtn.addEventListener("click", function () {
      // Toggle the display property of the color container
      colorContainer.style.display =
        colorContainer.style.display === "none" ? "block" : "none";
    });
  });
</script>

<%- include('../layout/adminFooter.ejs') %>
