<%- include('../layout/adminHeader.ejs') %>
    <%- include('../layout/adminSideBar.ejs') %>

        <style>
      
            .img-hover-zoom {
                overflow: hidden;
            }

            .img-hover-zoom img {
                transition: transform 0.5s ease-in-out;
                transform: scale(1);
            }

            .img-hover-zoom:hover img {
                transform: scale(1.2);
            }
        </style>


        <div class="container form-box mt-4 ">

            <div class="row d-flex justify-content-center  ">
                <div class=" col-md-10 col-lg-10 ">


                    <div class="d-flex justify-content-between">
                        <h2>Edit Product </h2>



                    </div>
                    <div class="overflow-auto p-3 bg-light" style="max-width: 1200px; max-height: 550px;">

                            <form method="post" name="ProductForm" id="ProductForm" action="/admin/products/edit/<%=ProductData._id %>" enctype="multipart/form-data">



                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" value="<%-ProductData.name%>" class="form-control" id="name" name="name">
                                        <div id="nameWarning" class="text-danger"></div>
                                    </div>
                                </div>
        

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="price">Price</label>
                                        <input type="text" value="<%=ProductData.price%>"  class="form-control" id="price"
                                            name="price" >
                                            <div id="priceWarning" class="text-danger"></div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label for="description" class=" ml-3">Description</label>
                                <textarea class="form-control w-75 ml-3" id="description" name="description"
                                    ><%=ProductData.description  %></textarea>
                                    <div id="descriptionWarning" class="text-danger"></div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="category">Category</label>
                                        <select class="select form-control" id="category" name="category" >
                                            <% categories.forEach(category => { %>
                                                <option value="<%= category.category %>"><%= category.category %></option>
                                            <% }); %>
                                        </select>
                                        <div id="categoryWarning" class="text-danger"></div>

                                        
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="subCategory">Sub Category</label>
                                         <select class="select form-control" id="subCategory" name="subCategory" >
                                            
                                            <% categories.forEach(category => { %>
                                                <option value="<%= category.sub_Category %>"><%= category.sub_Category %></option>
                                            <% }); %>
                                        </select>
                                            <div id="subCategoryWarning" class="text-danger"></div>

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="brand">Brand</label>
                                        <select class="select form-control" id="brand" name="brand">
                                            <option value="<%=ProductData.brand  %>"><%=ProductData.brand  %>
                                            </option>
                                            
                                            <option value="Apple">Apple</option>
                                            <option value="Samsung">Samsung</option>
                                            <option value="Redmi">Redmi</option>
                                            <option value="Oppo">Oppo</option>
                                            <option value="vivo">Vivo</option>
                                            <option value="Boat">Boat</option>
                                            <option value="Zebronics">Zebronics</option>
                                            <option value="Asus">Asus</option>
                                            <option value="Dell">Dell</option>
                                            <option value="Asus">Asus</option>
                                            <option value="Lenovo">Lenovo</option>
                                            <option value="Hp">Hp</option>



                                            <!-- Add more options here -->
                                        </select>
                                        <div id="brandWarning" class="text-danger"></div>

                                    </div>
                                </div>

                                
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="discount">Discount</label>
                                        <input type="number" value="<%=ProductData.discount%>" class="form-control"
                                            id="discount" name="discount" >
                                            <div id="discountWarning" class="text-danger"></div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select class="select form-control" id="status" name="status">
                                            <option value="true">
                                                <%=ProductData.status%>
                                            </option>

                                            <option value="false">false</option>

                                            <!-- Add more options here -->
                                        </select>
                                        <div id="statusWarning" class="text-danger"></div>

                                    </div>
                                </div>



                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="stockQuantity">Stock Quantity</label>
                                        <input type="number" value="<%=ProductData.stock  %>" class="form-control"
                                            id="stockQuantity" name="stock" >
                                            <div id="stockWarning" class="text-danger"></div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="color">Color</label>
                                        <select class="select form-control" id="color" name="color">
                                            <option value="">Select</option>
                                            <option value="Red">Red</option>
                                            <option value="Blue">Blue</option>
                                            <option value="Black">Black</option>
                                            <option value="Green">Green</option>
                                            <option value="Yellow">Yellow</option>
                                            <option value="Purple">Purple</option>
                                            <option value="Orange">Orange</option>
                                          </select>
                                
                                        <div id="colorWarning" class="text-danger"></div>
                                    </div>
                                </div>

                                <div class="row">

                                    

                                    <div class="col  ">

                                        <div class="form-group gap-5    "
                                            style="display: flex; flex-wrap: wrap;   width: 700px; margin-left:-10px">

                                            <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Color</th>
                                                    <th scope="col">Images</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <% for (let i = 0; i < ProductData.variants.length; i++) { %>
                                                    <tr>
                                                      <td><strong><%= ProductData.variants[i].color %></strong></td>
                                                      <td>
                                                        <div class="d-flex">
                                                          <% for (let j = 0; j < ProductData.variants[i].images.length; j++) { %>
                                                            <div style="width: 100px; height: 100px; margin-right: 10px;" class="img-hover-zoom shadow border-dark">
                                                              <!-- Dropzone container for each image -->
                                                              <div id="dropzone_<%= i %>_<%= j %>" class="dropzone" data-color="<%= ProductData.variants[i].color %>" data-image-index="<%= j %>"></div>
                                                              <img width="100px" height="100px"
                                                                src="/images/productImages/<%= ProductData.variants[i].images[j] %>"
                                                                alt="Product Image <%= j + 1 %>">
                                                            </div>
                                                          <% } %>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                  <% } %>
                                                </tbody>
                                              </table>
                                              
                                              


                                        </div>
                                        <div id="img1Warning" class="text-info" style="display: none;" ></div>
                                        <p class="text-info">Previous images will be replaced when you add new ones</p>

                                        <div class="form-group gap-5 d-flex justify-content-between" style="display: flex; justify-content: space-between; width: 710px; margin-left: -10px">
                                            <input type="file" id="images" class="form-control" name="images" accept="image/*" multiple >
                                            <input type="text" name="imageIndexes" placeholder="Image Positions (comma-separated)" >
                                            <div id="imagesWarning" class="text-danger"></div>

                                          </div>
                                          
                                        
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success mb-3" onclick="return validateForm()">Edit Product</button>
            

                    </form>

                    </div>
                </div>

            </div>
        </div>

<script src="/js/productFormVaildation.js"></script>

<%- include('../layout/adminFooter.ejs') %>