<%- include('../layout/adminHeader.ejs') %>
  <%- include('../layout/adminSideBar.ejs') %>

    <style>
      .table tbody tr:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: scale(1.0);
        transition: 0.2s;
      }

      .description-column {
        max-width: 500px;
        /* Adjust the maximum width as needed */
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>


    <div class="container-fluid mt-4">

      <div class="row d-flex justify-content-end  ">
        <div class=" col-md-10 col-lg-10 ">


          <div class="d-flex justify-content-between">
            <h1 class="text-bg-info  rounded"
            style="font-size: 30px; width: 230px; text-align: center;  font-family:Arial, Helvetica, sans-serif;">Product List</h1>

            <form method="" action="/admin/Products/add">
              <button class="btn btn-success mb-2 " data-toggle="modal" data-target="#addCategoryModal">Add
                Products</button>
            </form>

          </div>
          <div class="table-responsive">

            <div class="overflow-auto p-3 bg-light" style="max-width: 1200px; max-height: 600px;">



              <table class="table">
                <tbody>
                  <% ProductData.forEach((product,index)=> { %>

              
                    <tr class="table-info" style="display: flex;  width: 200px;">
                      <th >#PRODUCT </th>
                     
                        <h1><td><%=index + 1 %></td></h1>
                        <td >
                          <div style="display: flex; justify-content: end; width: 985px;">
                            <a  href="/admin/products/edit/<%=product._id %>" class="me-2 btn btn-outline-primary"
                               type="button">Edit</a>
                            <a href="/admin/products/delete/<%=product._id  %>" class="btn btn-outline-danger "
                              type="button">Delete</a>
                          </div>
                        
                        </td>
                   
                    </tr>
                    
                  <tr>
                    <th> Name</th>
                    <td style="font-weight: bold;"><%=product.name%></td>
                  
                  </tr  >
                  <tr>
                    <th> Description</th>

                    <td><%=product.description  %></td>
                  
                  </tr>
                  <tr>
                    <th> Price</th>

                    <td><%=product.price  %></td>
                  </tr>
                  <tr>
                    <th> Category</th>

                    <td><%-product.category.category  %></td>
                  
                  </tr>
                  <tr>
                    <th> Brand</th>

                    <td><%=product.brand%></td>
                  
                  </tr>
                  <tr>
                    <th> Discount</th>

                    <td><%=product.discount  %></td>
                  
                  </tr>
                  <tr>
                    <th> Status</th>

                    <td><%=product.status  %></td>
                  
                  </tr>
                  <tr>
                    <th> Stock</th>

                    <td><%=product.stock  %></td>
                  
                  </tr>
                  <tr>
                    <th> Images</th>

                    <td>
                      <% for (let i=0; i < product.image.length; i++) { %>
                        <img style="margin-bottom: 5px;" width="100px" height="100px"
                          src="/images/productImages/<%= product.image[i] %>" alt="Product Image <%= i + 1 %>">
                        <% } %>
                    </td>
                  
                  </tr>
                
                  <% }); %>
 
                </tbody>
              </table>

            </div>
          </div>
        </div>


        <%- include('../layout/adminFooter.ejs') %>


      