<%- include('../layout/adminHeader.ejs') %>
<%- include('../layout/adminSideBar.ejs') %>
<link rel="stylesheet" href="/css/dataTable.css">

<style>
  .table tbody tr:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.0);
    transition: 0.2s;
  }

  .small-text {
    max-width: 300px; /* Adjust the max-width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  /* Custom styling for tooltip container */
  .custom-tooltip {
    max-width: 200px; /* Adjust the max-width as needed */
    white-space: normal;
  }

</style>

<title>Products</title>
<main>
  
  <div class="container-fluid mt-4">
    <div class="row d-flex justify-content-end">
      <div class="col-md-10 col-lg-10">
        <div class="d-flex justify-content-between">
          <h1 class=" rounded" style="font-size: 30px; width: 230px; text-align: center; font-family: Arial, Helvetica, sans-serif;">Product List</h1>
          <a href="/admin/products/add" class="btn btn-success mb-2">Add Products</a>

        </div>
        <div class="table-responsive">
          <table class="table" id="myTable">
            <thead class="">
              <tr>
                <th>#</th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="product-table" >
              <% ProductData.forEach((product, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <% if (product.images.length > 0) { %>
                    <td><img width="50px" height="50px" src="/images/productImages/<%=product.images[0]%>" alt=""></td>
                  <% } else { %>
                    <td>No image</td>
                  <% } %>
                  <td>
                    <span class="small-text" data-toggle="tooltip" data-placement="top" title="<%= product.name.substring(0,100 ,product.name.length / 2) %>" data-container="body" class="custom-tooltip"><%= product.name %></span>
                  </td>
                  <td>
                    <span class="small-text" data-toggle="tooltip" data-placement="top" title="<%= product.description.substring(0,100, product.description.length / 2) %>" data-container="body" class="custom-tooltip"><%= product.description %></span>
                  </td>
                  <td>
                    <%if(product.status){%>
                      <span class="small-text badge bg-success" data-toggle="tooltip" data-placement="top"  data-container="body" class="custom-tooltip">Active</span>

                    <%}else{%>
                     <span class="small-text badge bg-danger" data-toggle="tooltip" data-placement="top"  data-container="body" class="custom-tooltip">Inactive</span>

                      <%}  %>
                  </td>
                  <td >
                    <a href="/admin/products/view/<%= product._id %>" class="bi bi-eye-fill text-info p-1" type="button"></a>
                    <a href="/admin/products/edit/<%= product._id %>" class="bi bi-pencil-fill text-warning p-1" type="button"></a>
                    <a href="javascript:void(0);" onclick="confirmDelete('<%= product._id %>','/admin/products/delete/','You will not be able to recover this product!')" class="bi bi-trash3-fill text-danger p-1" type="button"></a>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
  
</main>
<% if (messages.success) { %>
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000" style="background-color: rgba(74, 205, 74, 0.679); position:  absolute; top: 80px; right: 10px; min-width: 200px;">
    <div class="toast-body">
      <%=messages.success %>
    </div>
  </div>
<% } %>
<script src="/js/search.js"></script>
<script src="/js/alertPopUp.js"></script>
<script src="/js/DataTable.js"></script>

<%- include('../layout/adminFooter.ejs') %>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
 $(document).ready(function(){
    $('.toast').toast('show');
  });

</script>
