<%- include('../layout/adminHeader.ejs') %>
<%- include('../layout/adminSideBar.ejs') %>

    <style>
      .table tbody tr:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: scale(1.0);
        transition: 0.2s;
      }

      .description-column {
        max-width: 500px;
        /* Adjust the maximum width as needed */
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>
<title><%=ProductData.me  %></title>
<div id="content" class="p-4 p-md-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
          </li>
          <% if (locals.adminSessionData && locals.adminSessionData.isAdminAuthenticated) { %>
            <li><a class="dropdown-item" href=""></a></li>
            <% } else { %>
            <li><a class="dropdown-item" href="/register">Sign In</a></li>
            <% } %>
            <!-- <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li> -->
            <% if (locals.adminSessionData && locals.adminSessionData.isAdminAuthenticated) { %>
            <li><a class="dropdown-item text-danger" href="/admin/logout">Logout</a></li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid mt-4 border-primary">

    <div class="row d-flex justify-content-center  ">
      <div class="col-md-10 col-lg-11 col-xl-11">
  
  
          <form method="" action="">
          </form>
  <table class="table">
    <tbody>
      <tr>
      <th>Name</th>
      <td ><%= ProductData.name %></td>
      <th>Description</th>
      <td><%= ProductData.description %></td>
  
      </tr>
     
    </tbody>
  </table>
  
  
            <table class="table">
              <tbody>
  
                
                
                  <tr>
                  
  
                  </tr>
                  
                  <tr>
                    <th>Price</th>
                    <td><%= ProductData.price %></td>
                    <th>Category</th>
                    <td><%= ProductData.category %></td>
                    <th>Sub Category</th>
                    <td><%= ProductData.sub_Category %></td>
                  </tr>
                
               
                  <tr>
                    <th>Brand</th>
                    <td><%= ProductData.brand %></td>
                    <th>Discount</th>
                    <td><%= ProductData.discount %></td>
                    <th>Status</th>
                    <td><%= ProductData.status %></td>
                    <th>Stock</th>
                    <td><%= ProductData.stock %></td>
                  </tr>
               
                  <% ProductData.variants.color.forEach(variant=>{%>

  
                  <tr>
             
                    <th>Color</th>
                    <td>
                      <%=variant  %>
                    </td>
                    <%}) %>

                    <th>Images</th>
                    <% ProductData.images.forEach(images=>{%>

                    <td>
                        <img style="margin-bottom: 5px;" width="100px" height="100px" src="/images/productImages/<%=images  %>" alt="Product Image ">
                   
                    </td>
                    <%}) %>

                    <th>Variant Images</th>
                    <% ProductData.variants.images.forEach(images=>{%>

                    <td>
                        <img style="margin-bottom: 5px;" width="100px" height="100px" src="/images/productImages/<%=images  %>" alt="Product Image ">
                   
                    </td>
                    <%}) %>

                  </tr>
                   
                      <tr>
                        
                       
                      </tr>
                    </tbody>
  
          
  
              </tbody>
            </table>
  
        
      </div>
    </div>
  </div>
  </div>


        <script src="/js/alertPopUp.js"></script>
        <%- include('../layout/adminFooter.ejs') %>


      