<%- include('../layout/header.ejs') %>
<style>
    .container {
        margin-top: 100px;
    }

    .icon-hover-primary:hover {
        border-color: #3b71ca !important;
        background-color: white !important;
    }

    .icon-hover-primary:hover i {
        color: #3b71ca !important;
    }

    .icon-hover-danger:hover {
        border-color: #dc4c64 !important;
        background-color: white !important;
    }

    .icon-hover-danger:hover i {
        color: #dc4c64 !important;
    }
</style>

<main class="pb-5">
    <div class="container">
      <div class="row w-100">
        <%if(userCart && userCart.cart !== "undefined") {%>

          <div class="col-lg-12 col-md-12 col-12">
              <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
              <p class="mb-5 text-center">
                  <i class="text-info font-weight-bold">3</i> items in your cart</p>

              <table id="shoppingCart" class="table table-condensed table-responsive">
                  <thead>
                      <tr>
                          <th style="width:60%">Product</th>
                          <th style="width:12%">Price</th>
                          <th style="width:10%">Quantity</th>
                          <th style="width:16%"></th>
                      </tr>
                  </thead>
                  <tbody>

                    <%userCart.cart.forEach(cart=>{%>

                      <tr>
                          <td data-th="Product">
                              <div class="row">
                                  <div class="col-md-3 text-left">
                                      <img src="/images/productImages/<%=cart.image %>" alt=""   class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                  </div>
                                  <div class="col-md-9 text-left mt-sm-2">
                                      <h4> <%=cart.product_id.name%> </h4>
                                      <p class="font-weight-light">Brand: <b><%=cart.product_id.brand  %></b></p>
                                  </div>
                              </div>
                          </td>
                          <td data-th="Price">$49.00</td>
                          <td data-th="Quantity">
                            <input type="number" data-product-id="<%= userCart._id %>" data-product="<%= cart.product_id._id %>" class="form-control form-control-lg text-center quantity-input" value="<%= cart.quantity %>">
                        </td>
                          <td class="actions" data-th="">
                              <div class="text-right">
                                  <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                      <i class="fas fa-sync"></i>
                                  </button>
                                  <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                      <i class="fas fa-trash"></i>
                                  </button>
                              </div>
                          </td>
                      </tr>
                    </tbody>

                <% })  %>
            </table>

            <div class="float-right text-right">
                <h4>Subtotal:</h4>
                <h1>$99.00</h1>
            </div>

               <%}else{%>
                <div class="col-lg-12 col-md-12 col-12">
                    <h3 class="display-5 mb-2 text-center">Your Shopping Cart is empty</h3>
                    <p class="mb-5 text-center">
                        <i class="text-info font-weight-bold">0</i> items in your cart</p>
   
      
                </div>
                <div class="col-sm-6 mb-3 mb-m-1 order-md-1 ">
                    <a href="catalog.html">
                        <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
                </div>

               <%}%>


          </div>
      </div>
      <div class="row mt-4 d-flex align-items-center">
        <%if(userCart && userCart.cart !== "undefined") {%>

          <div class="col-sm-6 order-md-2 text-right">
              <a href="catalog.html" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
          </div>

          <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
            <a href="catalog.html">
                <i class="fas fa-arrow-left mr-2 text-center"></i> Continue Shopping</a>
        </div>

          <%}%>
         
      </div>
  </div>
</main>
<script src="/js/addTOcart.js"></script>
 
<%- include('../layout/footer.ejs') %>
