<%- include('../layout/header.ejs') %>

<style>
  .card {
    max-height: 550px;
    max-width: 400px;
  }

  .card img {
    height: 230px;
  }
  .card-img-top {
    transition: transform 0.3s ease-in-out;
  }

   .card-img-top:hover {
    transform: scale(0.9); /* You can adjust the scale value for the desired zoom level */
  }
  .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust the value based on your design */
  }
</style>
<!--Main Navigation-->
<header>
  <div class="bg-dark text-white py-5 mt-1">
    <div class="container py-5">
      <h1 style="font-family:'Rajdhani', sans-serif;" class="pt-md-5 pt-lg-0 pt-sm-5 pb-1 pt-5">
        Best products & <br />
        brands in our store
      </h1>
     
    </div>
  </div>
  <!-- Jumbotron -->
</header>
<!-- Products -->
<section style="background-color: #eee">
    <div class="container ">
      <div class="row">
        <h3 class="p-3">Top Products</h3>
        <% ProductData.forEach(product => { %>
        <div class="col-md-6 col-lg-3 mb-lg mb-md-6 mb-sm-4 md-xs-3 col-12">
          <!-- Use col-lg-3 to include four cards in one row -->
          <a href="/home/product/details/<%=product._id%>" class="text-decoration-none text-dark" >
          <div class="card h-100 border shadow rounded">
            <% for (let i = 0; i <= 0; i++) { %>
            <img
              style="margin-bottom: 5px"
              width="100px"
              height="300px"
              class="card-img-top"
              src="/images/productImages/<%= product.image[i] %>"
              alt="Product Image <%= i + 1 %>"
            />
            <% } %>
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text">
                Price: <b>Rs:<%= Number(product.price - (product.price * (product.discount/100))).toLocaleString() %></b>
              </p>
              <p class="card-text">Discount: %-<%= product.discount %></p>
            </div>
          </a>
            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <p class="fw-bold">
                  <a href="#!" class="text-muted">
                    <%= product.category.category %>
                  </a>
                </p>
                <p class="small text-danger"><s>Rs<%= product.price %></s></p>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <% if(product.stock !== 0) { %>
                <p class="text-muted mb-0">
                  Available: <span class="fw-bold text-success">In Stock</span>
                </p>
                <% } else { %>
                <p class="text-muted mb-0">
                  Available: <span class="fw-bold text-danger">Out Of Stock</span>
                </p>
                <% } %>
                <div class="ms-auto text-warning">
                  <% for (let i=0; i < product.rating; i++) { %>
                  <i class="fa fa-star"></i>
                  <% } %> <% for (let i=0; i < 5 - product.rating; i++) { %>
                  <i class="far fa-star"></i>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
       
        </div>
        <% }); %>
      </div>
    </div>
  </section>
  
  <section id="featured-brand">
    <div class="container mt-5">
      <div class="row">
        <h1 class="col-12 text-center" style="font-size: 30px;">Featured Brands</h1>
        <div class="col-sm-12 col-md-12 col-lg-12 d-flex flex-wrap justify-content-evenly mt-5">
  
          <img class="mb-3" style="width: 40px; height: 40px;" src="/images/apple.png" alt="">
          <img class="mb-3" style="width: 40px; height: 40px;" src="/images/hp.png" alt="">
          <img class="mb-3" style="width: 40px; height: 40px;" src="/images/dell.png" alt="">
          <img class="mb-3" style="width: 80px; height: 30px; margin-top: 10px;" src="/images/lenovo.png" alt="">
          <img class="mb-3" style="width: 100px; height: 30px; margin-top: 10px;" src="/images/samsung.png" alt="">
        </div>
      </div>
    </div>
  </section>
<!-- Products -->

<!-- Feature -->

<!-- Feature -->


<!-- Blog -->


<!-- Footer -->

<%- include('../layout/footer.ejs') %>
