<%- include('../layout/header.ejs') %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/image-uploader/2.0.7/image-uploader.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/image-uploader/2.0.7/image-uploader.min.js"></script>

  <style>
    div.product-image {
      position: relative;
      width: 40%;
      background-size: cover;
    }

    .btn {
      z-index: 2;
      /* or any value higher than other elements */
    }

    div.product-image img {
      width: 100%;
      height: auto;
    }

    .magnifier-lens {
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;

      background-color: #ff980030;
      border: 0.1px solid var(--orange);
      opacity: 0;
    }

    .magnifier-lens:hover {
      cursor: zoom-in;
    }

    .magnifier-lens.active {
      opacity: 1;
    }

    .magnified-image {
      position: absolute;
      z-index: 2;
      /* or any value higher than other elements */
      top: 0;
      left: 0;
      width: 100%;
      height: 80vh;
      border: 2px solid #ff9800;
      transform: scale(0.5);
      opacity: 0;
    }

    .magnified-image.active {
      opacity: 1;
      transform: scale(1);
      image-rendering: crisp-edges;
      z-index: 3;
    }

    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgb(255, 255, 255);
      padding: 20px;
      text-align: center;
      max-width: 400px;
      /* Adjust the maximum width as needed */
      width: 100%;
      /* Ensure the width is responsive */
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }

    .button-container {
      margin-top: 20px;
    }

    /* Style the buttons as needed */
    button {
      padding: 10px;
      margin: 0 10px;
      cursor: pointer;
    }


    .text-black {
      color: #000000;
    }

    .icon-overlap {
      bottom: -23px;
      font-size: 74px;
      opacity: 0.23;
      position: absolute;
      right: -32px;
    }

    .menu-list img {
      width: 41px;
      height: 41px;
      object-fit: cover;
    }

    .restaurant-detailed-header-left img {
      width: 88px;
      height: 88px;
      border-radius: 3px;
      object-fit: cover;
      box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }

    .reviews-members .media .mr-3 {
      width: 46px;
      height: 46px;
      object-fit: cover;
    }

    .rounded-pill {
      border-radius: 30rem !important;
    }
  </style>
  <title>
    <%=ProductData.name %>
  </title>
  <main class="py-0">
    <div class="container mt-md-4 mt-sm-5 pt-sm-5 pt-5 mt-4 pt-md-4">
      <div class="row">

        <aside class="col-lg-6 position-relative">
          <img id="largeImage" style="
            width: 100%;
            height: 550px;
            max-height: 70vh;
            margin: auto;
            background-size: cover;
            -webkit-background-size: cover;
          " class="rounded-4 fit border product-image" src="/images/productImages/<%=ProductData.images[0] %>"
            data-image="/images/productImages/<%=ProductData.images[0] %>"
            data-color="<%=ProductData.variants.color %>" />


          <div class="magnifier-lens"></div>

          <div class="d-flex justify-content-evenly mt-3 mb-3 h-50 flex-wrap">
            <img width="150" height="100" class="rounded-2 border "
              src="/images/productImages/<%=ProductData.images[1] %>"
              data-image="/images/productImages/<%=ProductData.images[1] %>" />
            <img width="150" height="100" class="rounded-2 border"
              src="/images/productImages/<%=ProductData.images[2] %>"
              data-image="/images/productImages/<%=ProductData.images[2] %>" />
            <img width="150" height="100" class="rounded-2 border"
              src="/images/productImages/<%=ProductData.images[3] %>"
              data-image="/images/productImages/<%=ProductData.images[3] %>" />



              <%if( reviews !== 'undefined'&& reviews.length >0){%>
            <div
              class="container review-container position-relative mt-5 mt-lg-5 d-xl-block d-lg-block d-md-none d-none ">
              <div class="row mt-5">
                <div class="bg-white rounded  p-4 mb-4 product-detaled-rating">
                  <h5 class="mb-1">All Ratings and Reviews</h5>

                  <%reviews.forEach(review=> {%>

                    <div class="reviews-members pt-4 pb-4">
                      <div class="media"> <a href="#"><img alt="Generic placeholder image"
                        src="/images/userImages/<%=review.user.image%>" class="mr-3 rounded-pill"></a>
                        <div class="media-body">
                          <div class="reviews-members-header">
                            <span class="star-rating float-right">
                              <% for (let i=0; i < 5; i++) { %>
                                <% if (i < review.rating) { %>
                                  <i class="bi bi-star-fill text-warning"></i>
                                  <% } else { %>
                                    <i class="bi bi-star"></i>
                                    <% } %>
                                      <% } %>


                            </span>
                            <h6 class="mb-1">
                              <%=review.user.first_name%></a>
                                <p class="text-gray">
                                  <%=review.created_at.toLocaleString() %>
                                </p>
                          </div>
                          <div class="reviews-members-body">
                            <p>
                              <%=review.review %>
                            </p>
                          </div>

                        </div>
                      </div>
                    </div>
                    <% }); %>


                </div>
              </div>
            </div>
       <%}  %>

          </div>


        </aside>



        <div class="col-lg-6" style="position: relative">
          <div class="magnified-image image-uploader"></div>

          <div class="ps-lg-3">
            <h5 class=" text-dark mt-5 mt-xl-0 mt-md-0">
              <%=ProductData.name %>
            </h5>

            <div class="d-flex flex-row my-3">
              <% if(ProductData.stock !==0) { %>
                <span class="text-success fw-bold ms-2"> In Stock </span>
                <% } else { %>
                  <span class="text-danger fw-bold ms-2"> Out Of Stock </span>
                  <% } %>
            </div>

            <div class="mb-3 d-flex">
              <span class="h4 me-3">
                Rs:<%= Number(ProductData.price - (ProductData.price * (ProductData.discount/100))).toLocaleString() %>
              </span>
              <span class="h5 fw-light text-danger me-3">
                <s>
                  <%= ProductData.price %>
                </s>
              </span>
              <p class="card-text text-success mb-0">
                <%= ProductData.discount %>% off
              </p>
            </div>
            <div class="d-flex flex-row my-3">

              <%if(offers !=='undefined' ) {%>
                <%offers.forEach(offer=>{%>



                  <%if(offer.offer===ProductData.category || offer.offer===ProductData.name) {%>
                    <span
                      style="position: relative; z-index: 10px; font-size: 13px; float: right; font-size: 15px; color: green; text-shadow: 2px 2px 4px  grid-row-end;">
                      Special offer extra <%= offer.percentage %>% off
                    </span>


                    <%} %>

                      <% })%>



                        <%} %>
            </div>
          </div>


          <div class="row mb-4 mt-1 justify-content-center ml-1">
            <div
              class="col-12 col-md-8 col-xl-8 col-xxl-8 d-flex justify-content-between flex-wrap w-100 text-center flex-md-nowrap flex-xxl-nowrap">
              <a href="#" style="width: 500px; height: 60px" data-product-id="<%= ProductData._id %>"
                data-product-price="<%= Number(ProductData.price - (ProductData.price * (ProductData.discount / 100))) %>"
                class="btn btn-primary d-flex align-items-center justify-content-center me-2 mb-2 addToCartButton">Add
                To Cart</a>
              <a style="width: 500px; height: 60px"
              data-product-id="<%= ProductData._id %>" data-product-price="<%= Number(ProductData.price - (ProductData.price * (ProductData.discount / 100))) %>"  class="btn btn-warning  d-flex align-items-center justify-content-center mb-2 buyNowButton">Buy Now</a>
            </div>
          </div>

          <p class="font-weight-bold justify-content-between"> Color:</p>

          <div class="d-flex flex-wrap gap-3 mb-4">
            <% for (let i=0; i < ProductData.variants.images.length && i < ProductData.variants.color.length; i++) { %>
              <div class="d-flex flex-column align-items-center">
                <a href="#" class="color-selector" data-color="<%= ProductData.variants.color[i] %>"
                  data-image="/images/productImages/<%=ProductData.variants.images[i]%>">
                  <img class="img-thumbnail" style="position: relative; z-index: 2" width="50" height="50"
                    src="/images/productImages/<%=ProductData.variants.images[i] %>" alt="" />
                </a>
                <p>
                  <%=ProductData.variants.color[i] %>
                </p>
              </div>
              <% } %>
          </div>


          <ul>
            <p class="font-weight-bold">About this item</p>
            <% var descriptionPoints=ProductData.description.split(/\.\s+/); descriptionPoints.forEach(function(point) {
              %>
              <li>
                <%= point %>
              </li>
              <% }); %>
          </ul>
          <%if(reviews !== 'undefined'&& reviews.length >0){%>


          <div
            class="container review-container position-relative mt-4 mt-lg-0 d-xl-none d-lg-none d-md-block d-block ">
            <div class="row">
              <div class="bg-white rounded  p-4 mb-4 product-detaled-rating"> 
                <h5 class="mb-1">All Ratings and Reviews</h5>
                <%reviews.forEach(review=> {%>

                  <div class="reviews-members pt-4 pb-4">
                    <div class="media"> <a href="#"><img alt="Generic placeholder image"
                          src="/images/userImages/<%=review.user.image%>" class="mr-3 rounded-pill"></a>
                      <div class="media-body">
                        <div class="reviews-members-header">
                          <span class="star-rating float-right">
                            <% for (let i=0; i < 5; i++) { %>
                              <% if (i < review.rating) { %>
                                <i class="bi bi-star-fill text-warning"></i>
                                <% } else { %>
                                  <i class="bi bi-star"></i>
                                  <% } %>
                                    <% } %>

                          </span>
                          <h6 class="mb-1">
                              <%=review.user.first_name%></a>
                                <p class="text-gray">
                                  <%=review.created_at.toLocaleString() %>
                                </p>
                          </div>
                          <div class="reviews-members-body">
                            <p>
                              <%=review.review %>
                            </p>
                          </div>

                      </div>
                    </div>
                  </div>

                  <%})%>
                   </div>


              </div>
            </div>
            <%}%>


          </div>

        </div>

      </div>

  </main>




  <div id="cart-toast" class="toast " role="alert" aria-live="assertive" aria-atomic="true"
    style="position: absolute; top: 0; right: 0; margin-top: 100px;">
    <div class="toast-header">
      <strong class="mr-auto">Cart</strong>
      <small>
        <%= new Date().toLocaleTimeString() %>
      </small>

    </div>
    <div class="toast-body" id="cart-message"></div>
  </div>

  <div id="loginModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeLoginModal()">&times;</span>
      <p>You need to login to proceed.</p>
      <div class="button-container">
        <button class="btn btn-outline-primary" onclick="redirectLogin()">Login</button>
        <button class="btn btn-outline-danger" onclick="closeLoginModal()">Cancel</button>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Get references to the large and smaller images
      const largeImage = document.getElementById("largeImage");
      const smallerImages = document.querySelectorAll(".rounded-2.border");

      // Add click event listener to each smaller image
      smallerImages.forEach(function (smallerImage) {
        smallerImage.addEventListener("click", function () {
          // Store the current large image source
          const originalLargeImageSrc = largeImage.src;

          // Store the current data-image attribute of the large image
          const originalLargeImageDataImage =
            largeImage.getAttribute("data-image");

          // Update the source attribute of the large image with the clicked small image
          largeImage.src = smallerImage.getAttribute("data-image");
          // Update the data-image attribute of the large image with the clicked small image data-image
          largeImage.setAttribute(
            "data-image",
            smallerImage.getAttribute("data-image")
          );

          // Update the source attribute of the clicked small image with the original large image
          smallerImage.src = originalLargeImageSrc;
          // Update the data-image attribute of the clicked small image with the original large image data-image
          smallerImage.setAttribute("data-image", originalLargeImageDataImage);
        });
      });
    });
    document.addEventListener("DOMContentLoaded", function () {
      const largeImage = document.getElementById("largeImage");
      const colorSelectors = document.querySelectorAll(".color-selector");

      colorSelectors.forEach(function (colorSelector) {
        colorSelector.addEventListener("mouseover", function () {
          const color = colorSelector.getAttribute("data-color");
          const imageSrc = colorSelector.getAttribute("data-image");
          updateImage(imageSrc, color);
        });
      });

      function updateImage(newImageSrc, color) {
        largeImage.src = newImageSrc;
        largeImage.setAttribute("data-image", newImageSrc);
        largeImage.setAttribute("data-color", color);
      }
    });
  </script>
  <script src="/js/imageZoom.js"></script>
  <script src="/js/addTOcart.js"></script>

  <%- include('../layout/footer.ejs') %>