<%- include('../layout/header.ejs') %>
  <style>
    .icon-control {
      margin-top: 5px;
      float: right;
      font-size: 80%;
    }

    .cartButtton:hover {
      background-color: #007bffb6 !important;
      color: white;
    }

    .btn-light {
      background-color: #fff;
      border-color: #e4e4e4;
    }


    .list-menu {
      list-style: none;
      margin: 0;
      padding-left: 0;
    }

    .list-menu a {
      color: #d6cece0e;
    }

    #product-card:hover {
      border-radius: 0;
      box-shadow: 1px 1px 10px 3px rgb(211, 208, 208);

    }

    /* CSS styles for the centered modal */
    /* Updated CSS styles for the centered modal with reduced width */
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgb(255, 255, 255);
      padding: 20px;
      text-align: center;
      max-width: 400px;
      /* Adjust the maximum width as needed */
      width: 100%;
      /* Ensure the width is responsive */
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      cursor: pointer;
    }

    .button-container {
      margin-top: 20px;
    }

    /* Style the buttons as needed */
    button {
      padding: 10px;
      margin: 0 10px;
      cursor: pointer;
    }

    .heart {
      color: rgb(231, 152, 152);
      cursor: pointer;


    }

    .heart:hover {
      color: red;
    }
  </style>

  <title>VoltTron | Categories</title>
  <div id="add-to-cart"></div>
  <main>
    <div class="container-fluid">
      <div class="row">
        <aside class="col-md-3 ">

          <div class="card mt-5 pb-2">
            <article class="filter-group">
              <header class="card-header">
                <div class="d-flex justify-content-between">
                  <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <h6 class="title">Sub Category</h6>
                  </a>

                  <input type="hidden" id="category_name" name="category" value="<%=cat_name  %>">
                  <a href="/home/products/<%=cat_name  %>"
                    style="width: 60px; height: 25px;  font-size: 13px; text-align: center; line-height: 10px; margin-right: 20px;"
                    class="pr-3 btn btn-outline-primary">clear</a>
                </div>

              </header>
              <div class="filter-content collapse show" id="collapse_1" style="color: black;">
                <div class="card-body">
                  <ul class="list-menu">
                    <% category.forEach(categoryItem=> { %>
                      <% categoryItem.sub_Category.forEach(subCategory=> { %>
                        <li>
                          <label>
                            <input type="checkbox" name="selectedSubCategories" value="<%= subCategory %>">
                            <%= subCategory %>
                          </label>
                        </li>
                        <% }) %>
                          <% }) %>
                  </ul>

                </div>
              </div>

            </article> <!-- filter-group  .// -->


            <article class="filter-group">
              <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                  <h6 class="title">Brands </h6>

                </a>
              </header>

              <div class="filter-content collapse show" id="collapse_2">
                <div class="card-body">
                  <ul class="list-menu">
                    <% brands.forEach((brand, index)=> { %>
                      <li>
                        <label>
                          <input type="checkbox" name="selectedBrands" value="<%= brand %>">
                          <%= brand %>
                        </label>
                      </li>
                      <% }) %>
                  </ul>

                </div>
              </div>

            </article> <!-- filter-group .// -->
            <article class="filter-group">
              <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                  <h6 class="title">Sort By </h6>
                </a>
              </header>

              <div class="filter-content collapse show" id="collapse_2">
                <div class="card-body">
                  <ul class="list-menu">
                    <li>
                      <label>
                        <input type="radio" name="sortOrder" id="highToLow" value="High to Low"> High to Low
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="radio" name="sortOrder" id="lowToHigh" value="Low to High"> Low to High
                      </label>
                    </li>

                  </ul>

                </div>
              </div>

            </article> <!-- filter-group .// -->



            <a href="#" id="applyFilterBtn" data-offer="<%=offers  %>" data-category="<%=cat_name  %>"
              class="btn me-2 ml-2 btn-primary mt-3">Apply
              Filter</a>

          </div>

        </aside>


        <div class="col-md-9">

          <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
              <span style="padding-top: 10px;" id="filterCount" class="mr-md-auto">
                <%=ProductCount%> Items found
              </span>
              <select data-category="<%=cat_name%>" data-offer="<%=offers%>" data-product="<%=ProductData  %>"
                id="sortDropdown" style="text-align: center;" class="me-3 mt-3 form-control">
                <option value="">Sort By</option>
                <option value="High to Low">High to Low</option>
                <option value="Low to High">Low to High</option>
              </select>
            </div>
          </header>


          <div class="row">

            <div class="col-12 col-sm-12 mt-3 col-md-11 col-lg-12 col-xl-11">
              <div class="container">
                <div id="product-container" class="row">
                  <% ProductData.forEach(product=> { %>
                    <div class="col-lg-4 col-md-6 col-sm-6 mt-xl-0 mt-lg-2 mt-md-3 mb-4 mt-sm-4 mt-4 p-3">
                      <!-- Use col-lg-4 to include three cards in one row -->

                      <a href="/home/product/details/<%=product._id%>" class="text-decoration-none text-dark ">

                        <div class="card border-0 h-100 p-2 " id="product-card">

                          <div id="offer-container">
                            <%if(offers !=='undefined' ) {%>
                              <%offers.forEach(offer=>{%>



                                <%if(offer.offer===product.category || offer.offer===product.name) {%>
                                  <span
                                    style="position: relative; z-index: 10px; border-radius: 20px; font-size: 13px; color: white; box-shadow: 1px 1px 10px rgb(77, 145, 240);"
                                    class="badge  bg-primary float-right"><span>
                                      Special <%=offer.percentage %>% off
                                    </span></span>

                                  <%} %>

                                    <% })%>



                                      <%} %>

                          </div>

                          <img style="margin-bottom: 5px; background-size: cover;" width="50px" height="250px"
                            class="card-img-top border-0" src="/images/productImages/<%=product.images[0]  %>"
                            alt="Product Image " />

                          <div class="card-body" style="height: 130px;">
                            <div style="display: flex; justify-content: start; margin-bottom: 10px; text-align: start;">

                              <h6>
                                <%= product.name.substring(0, 40, product.name.length / 2) %>
                              </h6>
                            </div>
                            <div style="display: flex; justify-content: start; margin-bottom: 10px;">
                              <p class="card-text "
                                data-price="<%= Number(product.price - (product.price * (product.discount / 100)))%>">
                                Price:
                                <b>Rs:<%= Number(product.price - (product.price * (product.discount /
                                    100))).toLocaleString() %>
                                </b>
                              </p>

                            </div>
                            <div class="d-flex justify-content-between">
                              <p class="card-text text-success">
                                <%= product.discount %>% off
                              </p>
                              <p class="small text-danger"><s>Rs<%= product.price %></s></p>
                            </div>
                          </div>
                      </a>



                      <!-- Inside the loop where you render product details -->

                      <%if(product.stock < 1){%>
                        <div class="d-flex justify-content-between">

                          <h6 class="text-warning mt-4 p-3">Out of stock</h6>
                          <button data-product-id="<%=product._id%>"
                            style=" font-size: 25px; text-decoration: none; color: rgb(243, 58, 58);"
                            class="bi bi-suit-heart-fill heart bg-white border-0"></button>
                        </div>

                        <%} else{%>
                          <div class="d-flex justify-content-between">
                            <button style="font-size: 25px;"
                              class=" addToCartButton bi bi-cart4 text-primary  bg-white border-0"
                              data-product-id="<%= product._id %>"
                              data-product-price="<%= Number(product.price - (product.price * (product.discount / 100))) %>">
                            </button>
                            <button data-product-id="<%=product._id%>"
                              style=" font-size: 25px; text-decoration: none; color: rgb(243, 58, 58);"
                              class="bi bi-suit-heart-fill heart  bg-white border-0"></button>
                          </div>


                          <%} %>






                    </div>


                </div>
                <% }); %>
              </div>
            </div>
          </div>

        </div> <!-- row end.// -->


      </div>
    </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item <%=currentPage === 1 ? 'disabled' : ''%>">
          <a class="page-link" href="/home/products/<%=cat_name%>/?page=<%=currentPage - 1%>" tabindex="-1">Previous</a>
        </li>

        <% for(let i=1; i<=pages; i++){ %>
          <% if(i==currentPage){ %>
            <li class="page-item active">
              <a class="page-link" href="/home/products/<%=cat_name%>/?page=<%=i%>">
                <%=i%>
              </a>
            </li>
            <% } else { %>
              <li class="page-item">
                <a class="page-link" href="/home/products/<%=cat_name%>/?page=<%=i%>">
                  <%=i%>
                </a>
              </li>
              <% } %>
                <% } %>

                  <li class="page-item <%=currentPage === pages ? 'disabled' : ''%>">
                    <a class="page-link" href="/home/products/<%=cat_name%>/?page=<%=currentPage + 1%>">Next</a>
                  </li>
      </ul>
    </nav>


  </main>





  <!-- Updated HTML structure for a centered modal with login and cancel buttons -->

  <div id="loginModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeLoginModal()">&times;</span>
      <p>You need to login to proceed.</p>
      <div class="button-container">
        <button class="btn btn-outline-primary" onclick="redirectLogin()">Login</button>
        <button class="btn btn-outline-danger" onclick="closeLoginModal()">Cancel</button>
      </div>
    </div>
  </div>


  <script src="/js/addTOcart.js"></script>
  <script src="/js/search.js"></script>
  <script src="/js/wishlists.js"></script>
  <script>
    $(document).ready(async function () {
      const select = $('#sortDropdown').on('change', async function () {
        var sortOption = $(this).val();
        var category = $(this).data('category');
        let ProductData = $(this).data('product');
        let offer = $(this).data('offer');

        try {
          if (sortOption && category !== '') {
            const response = await axios.get(`/home/products/sort/${category}/${sortOption}`);

            if (response.data) {
              // Assuming 'products' is the key in the response containing the sorted products
              ProductData = response.data.products;
              offer = response.data.offer;

              // Clear existing product container content

              // Append the new sorted products to the container
              renderProducts(ProductData, offer);
            }
          }
        } catch (error) {
          console.error(error);
        }
      });

      function renderProducts(products, offer) {
        const productContainer = $('#product-container');

        // Clear existing product container content
        productContainer.empty();



        // Render each product card and append to the container
        products.forEach((product, index) => {


          const stock = product.stock < 1 ? `
      <div class="d-flex justify-content-between">
    <h6 class="text-warning mt-4 p-3">Out of stock</h6>
    <button data-product-id="${product._id}" style="font-size: 25px; text-decoration: none; color: rgb(243, 58, 58);" class="bi bi-suit-heart-fill heart bg-white border-0"></button>

    </div>` : ` <div class="d-flex justify-content-between">
      <button style="font-size: 25px;" class=" addToCartButton bi bi-cart4 text-primary  bg-white border-0" data-product-id="${product._id}"
        data-product-price="${Number(product.price - (product.price * (product.discount / 100)))}">
      </button>
      <button data-product-id="${product._id}" style="font-size: 25px; text-decoration: none; color: rgb(243, 58, 58);" class="bi bi-suit-heart-fill heart bg-white border-0"></button>

    </div>`;

          const productCard = `
        <div class="col-lg-4 col-md-6 col-sm-6 mt-xl-0 mt-lg-2 mt-md-3 mb-4 mt-sm-4 mt-4 p-3">
          <!-- Use col-lg-4 to include three cards in one row -->

          <a href="/home/product/details/${product._id}" class="text-decoration-none text-dark ">

            <div class="card border-0 h-100 p-2 " id="product-card-${index}">

              <div class="offer-container" id="offer-container-${index}"></div>

              <img style="margin-bottom: 5px; background-size: cover;" width="50px" height="230px"
                class="card-img-top" src="/images/productImages/${product.images[0]}" alt="Product Image " />
              <div class="card-body" style="height: 130px;">
                <div style="display: flex; justify-content: start; margin-bottom: 10px; text-align: start;">

                  <h6>
                    ${product.name.substring(0, 40, product.name.length / 2)}
                  </h6>
                </div>
                <div style="display: flex; justify-content: start; margin-bottom: 10px;">
                  <p class="card-text "
                    data-price="${Number(product.price - (product.price * (product.discount / 100)))}">Price:
                    <b>Rs:${Number(product.price - (product.price * (product.discount / 100))).toLocaleString()}
                    </b>
                  </p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="card-text text-success">
                    ${product.discount}% off
                  </p>
                  <p class="small text-danger"><s>Rs${product.price}</s></p>
                </div>
              </div>
          </a>

          
         ${stock}



        </div>`;

          productContainer.append(productCard);


        });

        products.forEach((product, i) => {

          const Offer = offer.filter(offer => offer.offerType === 'Category' && offer.offer === product.category || offer.offer === product.name);

          const [matchingOffer] = Offer;
          console.log(matchingOffer);

          if (matchingOffer) {
            const offerBadge = `
    <span style="position: relative; z-index: 10px; border-radius: 20px; font-size: 13px; color: white; box-shadow: 1px 1px 10px rgb(77, 145, 240);" class="badge bg-primary float-right">
      <span>Special ${matchingOffer.percentage}% off</span>
    </span>`;

            productContainer.find(`#offer-container-${i}`).append(offerBadge);
          }
        })




      }
    });

  </script>
  <script>
    $(document).ready(function () {
      let category;
      const productContainer = $('#product-container');

      $('#applyFilterBtn').on('click', async function () {
        category = $(this).data("category");
        var selectedSubCategories = $('input[name="selectedSubCategories"]:checked').map(function () {
          return $(this).val();
        }).get();

        var selectedBrands = $('input[name="selectedBrands"]:checked').map(function () {
          return $(this).val();
        }).get();

        var sortOrder ;

        $('input[name="sortOrder"]:checked').each(function () {
          sortOrder = $(this).val();
        });

        console.log(sortOrder);

        let Product;
        let offer = $(this).data('offer');


        try {


          if (selectedSubCategories.length > 0 || selectedBrands.length > 0 || sortOrder !=='') {



            const response = await axios.get(`/home/products/${category}/filter?subCategory=${selectedSubCategories}&brand=${selectedBrands}&sort=${sortOrder}`)
              .then((response) => {
                Product = response.data.ProductData;
                offer = response.data.offer;
                if (response.data.ProductData) {
                  renderProducts(Product, offer);

                  $("#filterCount").html(`${response.data.productCount} Items found`)

                }

              })
          }

        } catch (error) {
          console.error(error);
        }


        function renderProducts(Product, offer) {

          // Clear existing product container content
          productContainer.empty();
          // Render each product card and append to the container
          Product.forEach((product, index) => {
            const stock = product.stock < 1 ? `
      <div class="d-flex justify-content-between">
    <h6 class="text-warning mt-4 p-3">Out of stock</h6>
    <button data-product-id="${product._id}" style="font-size: 25px; text-decoration: none; color: rgb(243, 58, 58);" class="bi bi-suit-heart-fill heart bg-white border-0"></button>

    </div>` : ` <div class="d-flex justify-content-between">
      <button style="font-size: 25px;" class=" addToCartButton bi bi-cart4 text-primary  bg-white border-0" data-product-id="${product._id}"
        data-product-price="${Number(product.price - (product.price * (product.discount / 100)))}">
      </button>
      <button data-product-id="${product._id}" style="font-size: 25px; text-decoration: none; color: rgb(243, 58, 58);" class="bi bi-suit-heart-fill heart bg-white border-0"></button>

    </div>`;

            const productCard = `
            <div class="col-lg-4 col-md-6 col-sm-6 mt-xl-0 mt-lg-2 mt-md-3 mb-4 mt-sm-4 mt-4 p-3">
          <!-- Use col-lg-4 to include three cards in one row -->

          <a href="/home/product/details/${product._id}" class="text-decoration-none text-dark ">

            <div class="card border-0 h-100 p-2 " id="product-card-${index}">

              <div class="offer-container" id="offer-container-${index}"></div>

              <img style="margin-bottom: 5px; background-size: cover;" width="50px" height="230px"
                class="card-img-top" src="/images/productImages/${product.images[0]}" alt="Product Image " />
              <div class="card-body" style="height: 130px;">
                <div style="display: flex; justify-content: start; margin-bottom: 10px; text-align: start;">

                  <h6>
                    ${product.name.substring(0, 40, product.name.length / 2)}
                  </h6>
                </div>
                <div style="display: flex; justify-content: start; margin-bottom: 10px;">
                  <p class="card-text "
                    data-price="${Number(product.price - (product.price * (product.discount / 100)))}">Price:
                    <b>Rs:${Number(product.price - (product.price * (product.discount / 100))).toLocaleString()}
                    </b>
                  </p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="card-text text-success">
                    ${product.discount}% off
                  </p>
                  <p class="small text-danger"><s>Rs${product.price}</s></p>
                </div>
              </div>
          </a>

          ${stock}
        </div>`;
            productContainer.append(productCard);
          });


          Product.forEach((product, i) => {

            const Offer = offer.filter(offer => offer.offerType === 'Category' && offer.offer === product.category || offer.offer === product.name);

            const [matchingOffer] = Offer;

            console.log(matchingOffer);

            if (matchingOffer) {
              const offerBadge = `
<span style="position: relative; z-index: 10px; border-radius: 20px; font-size: 13px; color: white; box-shadow: 1px 1px 10px rgb(77, 145, 240);" class="badge bg-primary float-right">
<span>Special ${matchingOffer.percentage}% off</span>
</span>`;

              productContainer.find(`#offer-container-${i}`).append(offerBadge);
            }
          })
        }

      });
    });

  </script>

  <%- include('../layout/footer.ejs') %>