<%- include('../layout/header.ejs') %>



<title>reset-password</title>

<main  class="container  d-flex justify-content-center align-items-center">
  <div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
      <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert">
          <%= messages.error %>
        </div>
      <% } else if(messages.success) {%>
        <div class="alert alert-success" role="alert">
          <%= messages.success %>
        </div>
     <% }%>
        <p class="card-text py">
            Enter your new Password .
        </p>
        <form action="/reset-password/<%=token  %>" method="POST"  >

          <div class="form-outline">
            <input type="password" class="form-control" id="password1" placeholder="Password" name="password" oninput="validatePassword()">

                    <i id="eye1" class="fa fa-eye-slash" aria-hidden="true"></i>
                    <p id="passwordWarning" class="text-danger"></p>
        </div>

        
        <div class="form-outline">
            <input type="password" class="form-control" id="password2" placeholder="Confirm Password" name="conformpassword" oninput="validatePassword()">

                    <i id="eye1" class="fa fa-eye-slash" aria-hidden="true"></i>
                    <p id="conformpasswordWarning" class="text-danger"></p>
        </div>
                <button  class="btn btn-primary">Reset Password</button>      
  </form>
     
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="/login">Login</a>
            <a class="" href="/register">Register</a>
        </div>
    </div>
</div>
</main>



<script>

   
   function validatePassword() {
        var password1 = document.getElementById('password1').value;
        var password2 = document.getElementById('password2').value;


        if (password1 === '') {
            document.getElementById('passwordWarning').innerText = 'Password is required';
        } else {
            document.getElementById('conformpasswordWarning').innerText = '';
        }
        
        if (password2 === '') {
            document.getElementById('conformpasswordWarning').innerText = 'Password is required';
        } else {
            document.getElementById('conformpasswordWarning').innerText = '';
        }
        if(password1 !== password2){

            document.getElementById('conformpasswordWarning').innerText = `Password 'does't' match `;
            document.getElementById('passwordWarning').innerText = `Password 'does't' match `;

        }else{
            document.getElementById('conformpasswordWarning').innerText ='';
            document.getElementById('passwordWarning').innerText ='';
        }
    }

</script>

<script src="/js/paswdToggle.js"></script>
  
  <%- include('../layout/footer.ejs') %>